svg {
  display: block;
}

.collapsible-tree-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.clickable {
  cursor: pointer;
}

svg.collapsible-tree .node {
  transition: transform 0.5s ease;
}

svg.collapsible-tree .link path {
  transition: d 0.5s ease;
}
